<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projettdm">

    <uses-permission android:name="android.permission.INTERNET" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="com.example.projettdm" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_launcher_background" />
    <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/white" />
    <application
        android:name=".data.room.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetTDM">
        <activity android:name=".ui.MedecinActivity">
            <intent-filter>
                <action android:name="OPEN_RENDEZ_VOUS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.MainActivitytest"></activity>
        <activity android:name=".ui.UserActivity"></activity>
        <service android:name=".data.notificationPush.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".ui.authentification.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>